astropy==5.2.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.14.2
Bottleneck @ file:///croot/bottleneck_1707864210935/work
certifi==2025.11.12
cffi==1.17.1
charset-normalizer==3.4.4
click==8.1.8
contourpy==1.1.1
cryptography==46.0.3
cycler==0.12.1
Cython==3.2.1
dateparser==1.2.2
dqsegdb2==1.3.0
fonttools==4.57.0
gwdatafind==1.2.0
gwosc==0.8.1
gwpy==3.0.10
h5py==3.11.0
idna==3.11
igwn-auth-utils==1.2.1
igwn-segments==2.0.0
importlib_resources==6.4.5
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.7
lalsuite==7.22
ligo-segments==1.4.0
ligotimegps==2.0.1
lscsoft-glue==4.1.1
Mako==1.3.10
MarkupSafe==2.1.5
matplotlib==3.7.5
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mpld3==0.5.12
narwhals==1.42.1
numexpr @ file:///croot/numexpr_1683221822650/work
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
packaging==25.0
pandas @ file:///croot/pandas_1692289311655/work
pegasus-wms.api==5.1.1
pegasus-wms.common==5.1.1
pillow==10.4.0
plotly==6.4.0
PyCBC==2.4.2
pycparser==2.23
pyerfa==2.0.0.3
PyJWT==2.9.0
pykerr==0.1.0
pyparsing==3.1.4
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-ligo-lw==1.8.4
pytz @ file:///croot/pytz_1713974312559/work
PyYAML==6.0.3
regex==2024.11.6
requests==2.32.4
safe-netrc==1.0.1
scikit-learn==1.3.2
scipy==1.10.1
scitokens==1.8.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
soupsieve==2.7
threadpoolctl==3.5.0
tqdm==4.67.1
typing_extensions==4.13.2
tzdata @ file:///croot/python-tzdata_1746123641790/work
tzlocal==5.2
urllib3==2.2.3
zipp==3.20.2
